/* stylelint-disable */
@import "ember-bootstrap/bootstrap";
@import "ember-basic-dropdown";
@import "app/styles/site.scss";
@import "app/styles/job-filter.scss";
@import "app/styles/job-search.scss";
@import "app/styles/job.scss";
/* stylelint-enable */

*:focus,
*:active {
  outline: none;
}

.ember-basic-dropdown-content {
  max-height: 0;
  overflow: hidden scroll;
  transition: max-height 0.3s ease-out;
}

.ember-basic-dropdown--transitioned-in { /* stylelint-disable-line */
  max-height: 15rem;
}
