#site {
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 125rem;
    margin: 0 auto;
  }

  #link-to-favorites #star-1 {
    display: block;
  }

  #link-to-favorites #star-2 {
    display: none;
  }

  #link-to-favorites.active #star-1 {
    display: none;
  }

  #link-to-favorites.active #star-2 {
    display: block;
  }

  @media (width <= 62rem) {
    #header .col-l {
      text-align: center !important;
    }

    #header .col-m {
      margin-top: 1rem !important;
      text-align: center !important;
    }

    #header .col-r .navbar {
      justify-content: center !important;
    }
  }
}

body {
  background-color: var(--bs-dark);
}

.bg-smoke {
  background-color: #eaebed !important;
}
