<div id="job-filter" class="mb-4">

  {{! results }}
  <JobFilter::ResultSection @results={{@results}} />

  {{! keywords }}
  <JobFilter::KeywordSection @keywords={{@keywords}} />

  {{! filters }}
  <JobFilter::DropdownSection @results={{@results}} />

  {{yield}}

</div>