<div id="job-filter">

  {{! results }}
  <JobFilter::ResultSection @results={{@results}} />

  {{! keywords }}
  <JobFilter::KeywordSection @keywords={{undefined}} />

  {{! filters }}
  <JobFilter::DropdownSection @results={{@results}} />

</div>