<section id="job-search" class="jumbotron text-center">
  <div class="container">

    <form id="search-form" class="form-inline" {{on "submit" this.search}}>
      <div class="input-group">
        <Input
          @type="search"
          @value={{this.keywords}}
          autocomplete="off"
          aria-label="Search"
          class="form-control"
          placeholder="Search open jobs"
        />
        <div class="input-group-append">
          <button class="btn btn-dark" type="submit">
            <FaIcon @icon="search" class="fa-lg" />
          </button>
        </div>
      </div>
    </form>

    <div class="title">City of New York jobs</div>

  </div>
</section>