<div class="dropdown-option">
  <li class="list-group-item list-group-item-light">
    <input
      type="checkbox"
      class="float-start"
      aria-label="dropdown-option-checkbox"
      {{on "change" (fn @onChange @option)}}
    />
    <small>
      <div class="option-label">{{@option}}
        <span
          class="badge rounded-circle bg-transparent text-secondary"
        >({{@count}})</span>
      </div>
    </small>
  </li>
</div>