<div id="dropdown-section" class="px-5 mb-3">

  <div class="row justify-content-center">

    {{! agency }}
    <JobFilter::Dropdown @results={{@results}} @key="agency" @label="Agency" />

    {{! civilServiceTitle }}
    <JobFilter::Dropdown
      @results={{@results}}
      @key="civilServiceTitle"
      @label="Title"
    />

    {{! titleClassification }}
    <JobFilter::Dropdown
      @results={{@results}}
      @key="titleClassification"
      @label="Class"
    />

    {{! salaryRangeTo }}
    <JobFilter::Dropdown
      @results={{@results}}
      @key="salaryRangeTo"
      @label="Salary"
    />

  </div>

</div>