<div id="dropdown-section" class="px-5 mb-3">

  <div class="row justify-content-center">

    {{! agency }}
    <JobFilter::Dropdown
      @results={{@results}}
      @key="agency"
      @label="Agency"
      @qp="agency"
    />

    {{! civilServiceTitle }}
    <JobFilter::Dropdown
      @results={{@results}}
      @key="civilServiceTitle"
      @label="Title"
      @qp="title"
    />

    {{! titleClassification }}
    <JobFilter::Dropdown
      @results={{@results}}
      @key="titleClassification"
      @label="Class"
      @qp="class"
    />

    {{! salaryRangeTo }}
    <JobFilter::Dropdown
      @results={{@results}}
      @key="salaryRangeTo"
      @label="Salary"
      @qp="salary"
    />

  </div>

</div>