<div class="dropdown-option">
  <li class="list-group-item list-group-item-light">
    <small>
      <div class="option-label">{{@option}}
        <span class="badge rounded-circle bg-light text-secondary">(10)</span>
      </div>
    </small>
  </li>
</div>