<span class="keyword">
  <span class="keyword-label text-primary">
    {{@keywords}}
  </span>
  <button
    type="button"
    class="border-0 bg-transparent"
    {{on "click" this.clear}}
  >
    <FaIcon @icon="x" class="fa-sm" />
  </button>
</span>