<span class="keyword">
  <span class="keyword-label text-primary">
    {{@keyword}}
  </span>
  <button type="button" class="border-0 bg-transparent">
    <FaIcon @icon="x" class="fa-sm" />
  </button>
</span>