<div id="keyword-section" class="text-center {{if @keywords 'd-none'}} mb-3">
  <div class="keyword-container">
    <span class="keyword-label">Keywords:</span>
    <JobFilter::Keyword @keyword={{"test"}} />
  </div>
</div>