<div id="result-section">
    <div class="fs-4 fw-bold text-center">
        {{#if @results}}
            {{length @results}}
        {{else}}
            <FaIcon @icon="circle-notch" @spin={{true}}></FaIcon> 
        {{/if}}
        results
    </div>
</div>