<div id="result-section" class="mb-3">
  <div class="fs-4 fw-bold text-center">
    {{#if @results}}
      {{length @results}}
    {{else}}
      <FaIcon @icon="circle-notch" @spin={{true}} />
    {{/if}}
    results
  </div>
</div>