<footer id="footer" class="bg-dark text-white pt-5">
  <div class="container">
    <div class="float-end">
      <p>
        ShittyJobs ©. 2023 All Rights Reserved,
        <br />
        ShittyJobs is not a trademark or service mark of the City of New York.
        <br />
        <a
          href="https://data.cityofnewyork.us/City-Government/Jobs-NYC-Postings/kpav-sd4t/about_data"
          aria-label="click to view source data"
          target="_blank"
          rel="noopener noreferrer"
        >
          Powered by NYC Open Data
        </a>
      </p>
    </div>
    <a
      href="https://www.nyc.gov/"
      aria-label="click to get back to homepage"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://attraxcdnprod1-freshed3dgayb7c3.z01.azurefd.net/1481180/a59795fb-f407-4112-8df0-3cd97b229d1b/2023.17000.1365/Blob/images/logo-white.png"
        alt="city of new york"
        width="100"
        height="40"
      />
    </a>
  </div>
</footer>