<header id="header">
  <div class="container">
    <div class="navbar row">
      <div class="col-l col-lg-3 text-left">
        <LinkTo @route="jobs" class="logo-container">
          <img src="/assets/images/jobs_logo.png" alt="shitty-jobs" />
        </LinkTo>
      </div>
      <div class="col-m col-lg-6 text-center">
        <span class="sub-heading text-center">
          The Un-Official Careers Website of the City of New York
        </span>
      </div>
      <div class="col-r col-lg-3">
        <div class="navbar navbar-expand-lg justify-content-end p-0">
          <ul class="navbar-nav">
            <li class="nav-item text-center">
              <div class="nav-link">
                <a
                  class="fw-bold"
                  href="https://www.nyc.gov/"
                  target="_blank"
                  rel="noopener noreferrer"
                >Explore.nyc.gov</a>
              </div>
            </li>
            <li class="nav-item text-center">
              <div class="nav-link">
                <LinkTo id="link-to-favorites" @route="favorites">
                  <FaIcon
                    id="star-1"
                    @prefix="far"
                    @icon="star"
                    class="fs-5 text-dark"
                  />
                  <FaIcon
                    id="star-2"
                    @prefix="fas"
                    @icon="star"
                    class="fs-5 text-warning"
                  />
                </LinkTo>
              </div>
            </li>
            <li class="nav-item text-center">
              <div class="nav-link">
                <a class="" href="/">
                  <img src="/assets/images/translate.png" alt="translate" />
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar shadow-sm"></div>
</header>