{{page-title "My saved roles"}}

<div id="site" class="bg-smoke">

  <Site::Header />

  <Site::Body @title="My saved roles">

    <div id="job-list" class="my-5">

      {{! Results }}
      {{#if this.jobs.length}}
        {{#each this.jobs as |job|}}
          <Job::Card @job={{job}} />
        {{/each}}
      {{/if}}

      {{! Empty}}
      {{#unless this.jobs.length}}
        <div class="d-inline text-center">
          <h5 class="mb-4">
            <b>You have not saved anything for later</b>
          </h5>
          <h6 class="m-4">
            <LinkTo @route="jobs" class="text-dark text-decoration-none">
              Start your job search
            </LinkTo>
          </h6>
        </div>
      {{/unless}}

    </div>

  </Site::Body>

  <Site::Footer />

</div>