{{page-title "Loading"}}

<JobFilter @loading={{true}}>
  <Pagination @loading={{true}} />
</JobFilter>

<div id="job-list" class="mb-4">
  {{#each (range 10) as |index|}}
    <Job::CardLoading @index={{index}} />
  {{/each}}
</div>

<Pagination />