{{page-title "Loading"}}

<JobFilter>
  <Pagination />
</JobFilter>

<div id="job-list" class="mb-4">
  {{#each (range 10) as |index|}}
    <Job::CardLoading @index={{index}} />
  {{/each}}
</div>

<Pagination />